.textfield{
    margin-top: 20px;
}
.textfield label{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
}
.inputbox2{
    position: relative;
    width: 100%;
}
.inputbox2 textarea{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    background-color: transparent;
    padding: 20px;
    margin-top: 10px;
    width: 100%;
    height: 120px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.inputbox2 textarea::placeholder{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}
.inputbox2 span{
    display: none;
}
@media (max-width: 500px) {
    .textfield label{
        display: none;
    }
    .inputbox2 textarea{
        border: 1px solid #982C31;
    }
    .inputbox2 textarea::placeholder{
        visibility: hidden;
    }
    .inputbox2 span{
        display: block;
        position:absolute;
        top: 0;
        left: 0;
        padding: 35px;
        pointer-events: none;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: rgba(0, 0, 0, 0.5);
        transition: 0.5s;
    }
    .inputbox2 textarea:focus ~ span{
        transform: translateX(35px) translateY(-5px);
        font-size: 18px;
        padding: 0 15px; 
        background-color:  white;   
    }
}