.transaction-header{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}
.tran-history p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #2B2B2B;
}
.sort-by select{
    width: 100px;
    padding: 10px;
    height: 39px;
    background: #9747FF;
    border: none;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
    border-radius: 3px;
}
.transaction-table{
    margin-top: -20px;
    padding: 40px;
    width: 100%;
}