.dashboard{
    width: 100%;
}
.notification-mobile{
    display: none;
}
.vault{
    width: 100%;
}
.vault-text, .action-text, .transaction-head{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.8);
}
.vault-card{
    margin-top: 23px;
    padding: 50px;
    width: 100%;
    height: 190px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background: linear-gradient(308.88deg, #B11226 9.57%, #8C1BAB 233.58%);
}
.card-balance{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
}
.card-amount{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FDFDFD;
}
.vault-card-right{
    color: #FFFFFF;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(205, 205, 205, 0.38);
}
.vault-card-right svg{
    font-size: 30px;
}
.action{
    width: 100%;
    margin-top: 30px;
}
.action-button{
    margin-top: 21px    ;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.actions{
    width: 170px;
    height: 150px;
    border-radius: 7px;
    background-color: #B11226;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.actions svg{
    font-size: 30px;
    color: white;
    font-weight: 700;
}
.actions p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}
.withdraw-btn{
    background: linear-gradient(235.13deg, #43CBFF -81.52%, #9708CC 98.5%);
}
.credio-btn{
    background: linear-gradient(230.03deg, #F05F57 -39.01%, #360940 98.28%);
}
.deposit2{
    background: linear-gradient(230.5deg, #FCCF31 -32.64%, #F55555 100%);
}
.cashless{
    background: linear-gradient(231.59deg, #65FDF0 -112.25%, #1D6FA3 100%);
}
.openaccount{
    background: linear-gradient(230.51deg, rgba(156, 253, 156, 0.75) -60.38%, #49C628 85.25%);
}
.more{
    background: linear-gradient(230.56deg, #5EFCE8 -151.34%, #736EFE 45.37%);
}
.transaction{
    width: 100%;
    margin-top: 20px;
}
.transaction-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.transaction-link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #982C31;
}
.transaction-table{
    width: 100%;
    margin-top: 20px;
}
@media (max-width: 500px) {
    .notification-mobile{
        width: 100%;
        padding: 10px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0px 5px 7px -2px rgba(0,0,0,0.42);
    -webkit-box-shadow: 0px 5px 7px -2px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 5px 7px -2px rgba(0,0,0,0.42);
    }
    .notification-mobile-left{
        display: flex;
        align-items: center;
    }
    .user-square{
        width: 45px;
        height: 45px;
        border-radius: 5px;
        background-color: #FFEDEF;
    }
    .user-details{
        margin-left: 10px;
    }
    .greeting-notification{
        font-family: "Roboto";
        font-weight: 500;
        font-size: 14px;
        color: #929292;
    }
    .business-name{
        margin-top: 5px;
        font-family: "Roboto";
        font-weight: 600;
        font-size: 15px;
        color: black; 
    }
    .notification-mobile-right svg{
        font-size: 25px;
    }
    .vault-text{
        display: none;
    }
    .vault-card{
        height: 100px;
        padding: 10px;
    }
    .card-balance{
        font-size: 18px;
    }
    .card-amount{
        font-size: 16px;
    }
    .vault-card-right{
        width: 30px;
        height: 30px;
    }
    .vault-card-right svg{
        font-size: 20px;
    }
    .action-button{
        width: 100%;
        overflow-x: auto;
        overscroll-behavior-inline: contain;
        justify-content: space-between;
    }
    .action-text{
        margin: 0px;   
    }
    .actions{
        margin-left: 20px;
        width: 150px;
        height: 130px;
    }
    .transaction-head{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        color: #383838;
    }
}