.dashboard{
    width: 100%;
}
.vault{
    width: 100%;
}
.vault-text, .action-text, .transaction-head{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.8);
}
.vault-card{
    margin-top: 23px;
    padding: 50px;
    width: 100%;
    height: 190px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background: linear-gradient(308.88deg, #B11226 9.57%, #8C1BAB 233.58%);
}
.card-balance{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
}
.card-amount{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FDFDFD;
}
.vault-card-right{
    color: #FFFFFF;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(205, 205, 205, 0.38);
}
.vault-card-right svg{
    font-size: 30px;
}
.action{
    width: 100%;
    margin-top: 30px;
}

.action-button{
    margin-top: 21px    ;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.actions{
    width: 170px;
    height: 150px;
    border-radius: 7px;
    background-color: #B11226;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.actions svg{
    font-size: 30px;
    color: white;
    font-weight: 700;
}
.actions p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}
.withdraw-btn{
    background: linear-gradient(235.13deg, #43CBFF -81.52%, #9708CC 98.5%);
}
.saving-btn{
    background: linear-gradient(230.5deg, #FCCF31 -32.64%, #F55555 100%);
}
.deposit2{
    background: linear-gradient(230.03deg, #F05F57 -39.01%, #360940 98.28%);
}
.cashless{
    background: linear-gradient(231.59deg, #65FDF0 -112.25%, #1D6FA3 100%);
}
.openaccount{
    background: linear-gradient(230.51deg, rgba(156, 253, 156, 0.75) -60.38%, #49C628 85.25%);
}
.more{
    background: linear-gradient(230.56deg, #5EFCE8 -151.34%, #736EFE 45.37%);
}
.transaction{
    margin-top: 20px;
}
.transaction-table{
    margin-top: 20px;
}