.deposit{
    width: 100%;
}
.deposit-title{
    display: flex;
    align-items: center;
    width: 100%;
}
.back svg{
    font-size: 30px;
}
.deposit-text{
    width: 100%;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #B11226;
}
.deposit-action{
    margin-top: 30px;
    width: 100%;
}
.crediometer{
    width: 100%;
    height: 120px;
    padding: 30px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.07);
}
.credio-logo{
    width: 95px;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B11226;
    border-radius: 6px;
}
.credio-logo svg{
    font-size: 35px;
    color: #ffff;
}
.credio-text{
    width: 70%;
    margin-left: 30px;
}
.action-name{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #383838;
}
.action-details{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #A9A8A8;
}
@media (Max-width: 500px){
    .deposit-text{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        color: #383838;
    }
    .action-text{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        color: #383838;
    }
    .crediometer, .by-card{
        background-color: transparent;
        border-radius: 0px;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.07);
    }
    .credio-logo{
        width: 85px;
        height:76px;
    }
    .credio-logo svg{
        font-size: 25px;
        color: #ffff;
    }
    .credio-logo img{
        width: 70%;
    }
    .credio-text{
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom:  0.5px solid rgba(0, 0, 0, 0.5);
    }
    .credio-text-2{
        border-bottom: none;
    }
    .action-name{
        font-family: "Roboto";
        font-size: 20px;
    }
    .action-details{
        margin-top: 5px;
        font-family: "Roboto";
        font-size: 14px;
    }
}