.cardpin-body{
    margin-top: 100px;
    display: flex;
    width: 100%;
    justify-content: center;
}
.cardpin-body-inner{
    width: 50%;
}
.enter-pin{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}
.pin-submit{
    margin-top: 20px;
    width: 100%;
}
.field-container{
    margin-top: 20px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
@media (Max-width: 500px){
    .cardpin-body{
        margin-top: 30px;
    }
    .cardpin-body-inner{
        width: 90%;
    }
    .enter-pin{
        text-align: center;
        font-weight: 700;
        font-size: 17px;  
    }
}