.withdraw-body{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.withdraw-body form{
    width: 80%;
}
.withdraw-form-mobile{
    display: none;
}
.withdraw-submit{
    width: 100%;
    margin-top: 100px;
}
.withdraw-submit-2, .withdraw-submit a{
    width: 100%;
}
@media (Max-width: 500px){
    .how-save{
        text-align: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 800;
        font-size: 17px;
        color: #000000;
    }
    .withdraw-body{
        margin-top: 0px;
    }
    .withdraw-body form{
        width: 90%;
    }
    .withdraw-form-mobile{
        display: block;
    }
    .withdraw-submit{
        margin-top: 100px;
    }
}