.navbar{
    /* position: fixed;
    width: 100%;
    height: 80px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
    display: flex;
    justify-content: space-between; */
}
.navbar-inner{
    position: fixed;
    width: 100%;
    height: 80px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.navbar-mobile{
    display: none;
    position: absolute;
    padding: 20px;
}
.navbar-mobile svg{
    font-size: 20px;
}
.logo-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: #BA181B;
}
.searchbar{
    width: 40%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}
.searchbar svg{
    font-size: 20px;
    color: rgb(102, 102, 102);
}
.searchbar input{
    width: 100%;
    height: 100%;
    padding: 5px;
    margin-left: 10px;
    border: none;
  
}
.searchbar input::placeholder{
    font-family: 'Poppins';
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}
.profile-side{
    display: flex;
    align-items: center;
}
.bell{
    margin-right: 20px;
}
.bell svg{
    font-size: 20px;
}
.profile-pic{
    display: flex;
    align-items: center;
}
.navbar-image{
    margin-right: 10px;
}
.navbar-image img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.greeting{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}
.name{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
}
@media (Max-width: 500px){
    .navbar{
        width: 100%;
        height: 25px;
        position: relative;
        margin-bottom: 10px;
    }
    .navbar-inner{
        display: none;
    }
    .navbar-mobile{
        display: block;
        z-index: 110;
    }
}