.mobiletable{
    width: 100%;
    
    padding: 10px;
    background-color: white;
    box-shadow: 0px 5px 7px -2px rgba(0,0,0,0.42);
    -webkit-box-shadow: 0px 5px 7px -2px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 5px 7px -2px rgba(0,0,0,0.42);
}
.mobiletable-inner{
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.mobiletable-inner-left{
    display: flex;
    align-items: center;
}
.mobile-status-outer{
    width: 50px;
}
.mobile-status{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #ffdde1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-status svg{
    font-size: 28px;
    font-weight: 800;
    color: red;
}
.mobile-transaction{
    margin-left: 20px;
    width: 80%;
}
.mobile-tran-name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #9D9090;
}
.mobile-tran-status{
    margin-top: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #383838;
}
.mobile-tran-status span{
    font-weight: 800;
}
.transaction-date{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #9D9090;
}
@media (max-width:500px){
    .mobiletable{
        background-color: transparent;
        padding: 10px;
        box-shadow: none;
    }
}